{#- Extends sqladmin's own edit page, so its form, i18n, form media and
    submit buttons stay exactly as in the installed sqladmin version. -#}
{% extends "sqladmin/edit.html" %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('admin:inline_statics', path='css/sqladmin-inline.css') }}">
{% endblock %}

{% block content %}
{%- if inline_contexts is defined and inline_contexts -%}
  {%- set _contexts = inline_contexts -%}
{%- else -%}
  {%- set _contexts = request.state.sqladmin_inline_contexts | default([]) -%}
{%- endif -%}
{%- set sidebar = _contexts | selectattr("layout", "equalto", "sidebar") | list -%}
{%- set center = _contexts | rejectattr("layout", "equalto", "sidebar") | list -%}
{% if sidebar %}
<div class="col-lg-8 inline-main-column">
  <div class="row row-cards">
    {{ super() }}
    {% for ctx in center %}
    <div class="col-12">{% include "sqladmin_inline/_inline_table.html" %}</div>
    {% endfor %}
  </div>
</div>
<div class="col-lg-4 inline-sidebar-column">
  <div class="row row-cards">
    {% for ctx in sidebar %}
    <div class="col-12">{% include "sqladmin_inline/_inline_table.html" %}</div>
    {% endfor %}
  </div>
</div>
{% else %}
{{ super() }}
{% for ctx in center %}
<div class="col-12">{% include "sqladmin_inline/_inline_table.html" %}</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block tail %}
{{ super() }}
{% include "sqladmin_inline/_inline_scripts.html" %}
{% endblock %}
